.c_user-item {
  @apply relative h-full self-center flex flex-col text-white;

  .bet-and-action {
    @apply flex flex-col;
  }

  .bet {
    @apply w-auto inline-block pl-1 pr-2 py-0 rounded-full bg-gray-900;
    box-shadow: 0 4px 4px rgba(theme('colors.gray.900'), .25);
  }

  .single-chip,
  .chip {
    #stroke {
      fill: theme('colors.gray.900');
    }

    #secondary {
      fill: theme('colors.gray.900');
    }
  }

  .single-chip {
    @apply mr-1 ml-0 h-4;
    margin-bottom: 2px;

    #background {
      fill: white;
    }
  }

  .chips {
    @apply relative inline-block mr-1 ml-0 w-4 h-4;
  }

  .chip {
    @apply absolute inset-x-0 top-0;

    &:nth-of-type(2) {
      top: -0.15em;
    }

    &:nth-of-type(3) {
      top: -0.3em;
    }

    #background {
      fill: theme('colors.green.500');
    }
  }

  &.is-big {
    .bet-and-action {
      .bet {
        @apply bg-green-900;
        box-shadow: 0 4px 4px rgba(theme('colors.green.900'), .25);
      }
    }

    .chip {
      #background {
        fill: theme('colors.yellow.500');
      }
    }
  }

  &.left,
  &.right {
    @apply items-center justify-center;
  }

  .player {
    @apply inline-block align-middle text-center w-24 h-24 border-2 border-transparent relative;
  }

  .info {
    @apply relative;

    .thumbs-up {
      @apply fill-current text-yellow-200 absolute inset-y-0;
      left: -1.5rem;
      top: .2rem;

      @screen md {
        animation-name: seeMee;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }
  }

  .name {
    @apply inline-block border-b-4 border-transparent w-full text-sm truncate py-1 m-auto;
  }

  &:hover {
    .cards {
      .card {
        transform: rotate(-4deg) scale(1);

        &:nth-of-type(2n) {
          @apply -ml-10;
          transform: rotate(23deg) scale(1);
        }
      }
    }
  }

  &.is-button .name {
    @apply border-green-500;
    animation-name: borderColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  &.right .cards {
    left: -3rem;
    right: inherit;
  }

  .cards {
    @apply absolute h-full w-full pointer-events-none;
    bottom: 0rem;
    right: -3rem;

    .card {
      @apply m-0 p-0 inline-block shadow-none;
      width: 62.8738px;
      height: 87.8251px;
      transform: rotate(-4deg) scale(.4);
      transition: all .4s ease;
      transform-style: preserve-3d;

      &:nth-of-type(2n) {
        @apply -ml-12;
        transform: rotate(23deg) scale(.4);
      }
    }
  }

  &.hide-cards {
    .cards {
      @apply hidden;
    }
  }
}
