.user-item {
  @apply relative h-full self-center flex flex-col text-white;

  .bet-and-action {
    @apply flex flex-col;
  }

  .bet {
    @apply w-auto inline-block pl-1 pr-2 py-0 rounded-full bg-gray-900;
    /* background: rgba(25, 31, 43, 1); */

    svg {
      @apply mr-1 ml-0 fill-current text-white text-sm h-3;
    }
  }

  &.is-big {
    .bet {
      @apply bg-green-900;
    }
  }

  &.left,
  &.right {
    @apply items-center justify-center;
  }

  .player {
    @apply inline-block align-middle text-center w-24 h-24 border-2 border-transparent relative;
  }

  .name {
    @apply inline-block border-b-4 border-transparent;
  }

  &.is-button .name {
    @apply border-green-500;
    animation-name: border-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  &.right .cards {
    left: -3rem;
    right: inherit;
  }

  .cards {
    @apply absolute h-full w-full;
    bottom: -.5rem;
    right: -3rem;

    .card {
      @apply m-0 p-0 inline-block;
      width: 62.8738px;
      height: 87.8251px;
      transform: rotate(-4deg) scale(.4);

      &:nth-of-type(2n) {
        @apply -ml-12;
        transform: rotate(23deg) scale(.4);
      }
    }
  }
}
