.c_action {
  min-height: 100%;
  min-width: 100%;
  min-height: 100vh;
  min-width: 100vw;

  .users,
  .bottom,
  .main {
    svg {
      @apply inline-block stroke-current fill-current w-4 h-4;
    }
  }

  .main-top,
  .bottom,
  .main {
    max-width: 100vw;
  }

  .main-top {
    @apply absolute inset-x-0 top-0 z-10;

    .title {
      @apply select-none absolute  top-0 text-white p-4 text-xs;
      left: 2em;

      @screen lg {
        @apply text-base;
      }
    }

    .sign-out {
      @apply absolute right-0 top-0;
    }
  }

  .main {
    @apply relative block m-auto;
    max-width: 640px;
    max-height: none;
    min-height: none;
    min-width: 100%;
    z-index: -1;
    padding: 0 0 100px;

    @screen md {
      @apply relative p-0;
      height: 500px;
      min-height: 500px;
    }

    @screen lg {
      @apply absolute m-auto w-full inset-x-0 px-4 pt-40 pb-48;
      min-height: 700px;
      height: 700px;
      top: 8em;
      bottom: 0;
    }

    > div {
      @appl w-full text-left p-2 text-gray-700 flex flex-col;
    }
  }

  .table {
    @apply block text-center p-3 select-none w-full self-center text-white;

    .holder {
      @apply m-auto;

      @screen lg {
        @apply relative;
      }
    }

    .bets .bet,
    .bets .pot,
    .key-value,
    .you {
      @apply text-xs;

      @screen md {
        @apply text-base;
      }
    }
  }

  .card {
    @apply w-auto text-6xl mx-2 p-0 rounded relative z-10;

    & {
      @apply h-16 w-12;

      @screen md {
        @apply h-32 w-24;
        height: 8.4rem;
      }
    }

    svg {
      @apply h-32 w-24;
      height: 8.4rem;
      max-height: 100%;
      max-width: 100%;
    }

    &.none {
      background: rgba(25, 31, 43, .25);
      box-shadow: none;
    }
  }

  .bets {
    .pot {
      @apply text-xs p-0;

      @screen md {
        @apply text-lg pt-2;
      }
    }

    .bet,
    .pot {
      @apply inline-block px-2;

      @screen md {
        @apply block px-0;
      }
    }
  }

  .key-value {
    @apply text-xs font-bold;

    @screen md {
      @apply text-lg;
    }

    span {
      @apply uppercase font-normal;
      font-size: smaller;
    }
  }

  .cards,
  .placeholders {
    @apply flex flex-row py-2 justify-center z-10;

    @screen md {
      @apply p-4;
    }

    .card {
      &:nth-of-type(4) {
        @apply mx-4;
      }
    }
  }

  .you {
    @apply flex flex-row w-auto m-auto flex-wrap;
    transition: color .5s ease;

    @screen lg {
      @apply text-gray-500;

      &:hover {
        @apply text-white;
      }
    }

    h3 {
      @apply flex-1 py-0 px-2 text-center w-auto block;

      @screen md {
        @apply p-2;

        &:nth-of-type(1) {
          @apply text-right;
        }

        &:nth-of-type(2) {
          @apply text-left;
        }
      }
    }

    .button,
    .hand {
      @screen md {
        flex-basis: 100%;
      }
    }

    .winner {
      @apply pt-6;
      flex-basis: 100%;

      @screen md {
        padding: inherit;
      }
    }

    .button {
      @apply w-auto inline-block;

      @screen md {
        @apply w-full block;
      }

      h3 {
        @apply text-center;
      }
    }

    .hand {
      @apply w-0;
    }
  }

  &.round-4 {
    .you {
      .button {
        display: none;
      }
    }
  }

  .bets {
    .bet {
      @apply w-auto inline-block pl-2 pr-2 py-0 rounded-full;
      background: rgba(25, 31, 43, .25);

      &.side-pot {
        transform: scale(.9);

        .chip {
          #background {
            fill: theme('colors.green.500');
          }
        }
      }
    }

    .chips {
      @apply relative inline-block mr-2 w-4 h-4;
    }

    .chip {
      @apply absolute inset-x-0 top-0;

      &:nth-of-type(2) {
        top: -0.15em;
      }

      &:nth-of-type(3) {
        top: -0.3em;
      }

      &:nth-of-type(4) {
        top: -0.45em;
      }

      &:nth-of-type(5) {
        top: -0.6em;
      }

      &:nth-of-type(6) {
        top: -0.75em;
      }

      &:nth-of-type(7) {
        top: 0;
        left: -1em;
      }

      &:nth-of-type(8) {
        top: -0.15em;
        left: -1em;
      }

      &:nth-of-type(9) {
        top: -0.3em;
        left: -1em;
      }

      &:nth-of-type(10) {
        top: -0.45em;
        left: -1em;
      }

      &:nth-of-type(11) {
        top: -0.6em;
        left: -1em;
      }

      &:nth-of-type(12) {
        top: -0.75em;
        left: -1em;
      }

      &:nth-of-type(13) {
        top: -0.9em;
      }

      &:nth-of-type(14) {
        top: -0.9em;
        left: -1em;
      }

      #stroke {
        fill: theme('colors.gray.900');
      }

      #secondary {
        fill: theme('colors.gray.900');
      }

      #background {
        fill: theme('colors.yellow.500');
      }
    }
  }

  .disabled {
    &,
    &:hover {
      @apply cursor-not-allowed bg-gray-500;
    }
  }
}
