.c_app {
  @apply flex items-center justify-center relative z-10 inset-0 flex-wrap;
  min-height: 100%;
  min-width: 100%;
  min-height: 100vh;
  min-width: 100vw;

  .chat {
    @apply z-50;
    transition: all 0.4s ease;

    &.state-visible {
      box-shadow: 0 0 10px rgba(theme('colors.gray.700'), .4);
    }

    &.state-hidden {
      @apply -ml-64;
      box-shadow: 0 0 10px rgba(theme('colors.gray.700'), .0);
    }
  }

  .chat-toggle {
    @apply fixed bottom-0 left-0 text-white z-50 outline-none fill-current ml-2 p-4;
    transition: all 0.4s ease;
    top: 50%;
    bottom: 50%;

    &.state-visible {
      @apply ml-64 text-gray-700;
      top: 0;
      bottom: 100%;
    }
  }
}
