.c_app {
  @apply flex items-center justify-center relative z-10 inset-0 flex-wrap;
  min-height: 100%;
  min-width: 100%;
  min-height: 100vh;
  min-width: 100vw;

  .chat {
    @apply z-50 -ml-64;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px rgba(theme('colors.gray.700'), .0);

    &.state-visible {
      box-shadow: 0 0 10px rgba(theme('colors.gray.700'), .4);
      @apply ml-0;
    }

    &.state-hidden {
    }
  }

  .chat-toggle {
    @apply fixed left-0 top-0 text-white z-50 outline-none fill-current ml-2 py-4 px-2;
    transition: all 0.4s ease;
    transform: scale(.7);

    @screen lg {
      transform: none;
    }

    &.state-visible {
      @apply ml-64 text-gray-700 top-0 p-4;
    }
  }
}
