.users,
.bottom,
.main {
  svg {
    @apply inline-block stroke-current fill-current w-4 h-4;
  }
}

.main-top {
  @apply absolute top-0 inset-x-0 z-10;

  .title {
    @apply select-none absolute left-0 top-0 text-white p-4;
  }

  .sign-out {
    @apply absolute right-0 top-0 m-4 text-gray-600 stroke-current fill-current w-6 h-6 block cursor-pointer;
    transform: rotate(90deg);

    svg {
      @apply w-4 h-4 inline-block m-auto;
    }

    &:hover {
      @apply text-white;
    }
  }
}

.main {
  @apply z-20;
  .table {
    @apply block text-center p-3 select-none w-full self-center text-white;

    .holder {
      @apply relative;
    }

    .placeholders {
      @apply z-0 absolute inset-0 block;
      height: 100%;
      width: 100%;

      .card {
        background: rgba(25, 31, 43, .25);
        box-shadow: none;
      }
    }

    .card {
      @apply w-auto h-32 w-24 text-6xl mx-2 p-0 rounded relative z-10;
    }

    .cards {
      @apply z-10;

      /* .card {
        animation-name: fly-in;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(0.1, , 0.2, 0);
        transform-style: preserve-3d;
      } */
    }

    .cards,
    .placeholders {
      @apply flex flex-row p-4;

      .card {
        &:nth-of-type(4) {
          @apply mx-4;
        }
      }
    }

    .you {
      @apply text-sm flex flex-row w-auto m-auto;

      h3 {
        @apply flex-1 p-2 text-center w-auto block;

        &:nth-of-type(1) {
          @apply text-right;
        }

        &:nth-of-type(2) {
          @apply text-left;
        }
      }
    }

    .bets {
      .bet {
        @apply w-auto inline-block pl-1 pr-2 py-0 rounded-full;
        background: rgba(25, 31, 43, .25);
      }

      .chip {
        @apply fill-current text-yellow-500 mr-2;
      }
    }
  }
}

.users {
  @apply absolute inset-0 font-semibold m-0 p-4 flex flex-row w-full h-full pb-40 select-none z-0;

  .left,
  .right,
  .top {
    @apply flex w-full h-full items-center justify-center;
  }

  .left,
  .right {
    @apply flex-col w-1/4 pt-24;
  }
}

.bottom {
  @apply z-10 absolute p-0 w-full text-white;
  box-shadow: 0 0 40px rgba(61, 66, 79, .4);
  bottom: -10rem;
  transition: bottom 0.4s ease;

  &.turn:not(.showdown) {
    bottom: 0;

    .holder {
      @apply border-green-500;
      animation-name: border-color;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }

    .player-cards {
      bottom: -1rem;

      &:hover {
        bottom: 5rem;
      }
    }
  }

  &.showdown {
    .player-cards {
      bottom: 10rem;

      .card {
        @apply mr-2;
        transform: rotate(0);

        &:nth-child(2n) {
          transform: rotate(0);
        }
      }
    }
  }

  .player-cards {
    @apply absolute p-0 m-0 w-full select-none flex flex-row z-0;
    bottom: 4rem;
    left: 50%;
    right: 50%;
    transition: bottom 0.4s ease;

    &:hover {
      bottom: 10rem;

      .card {
        @apply mr-2;
        transform: rotate(0);

        &:nth-child(2n) {
          transform: rotate(0);
        }
      }
    }

    .card {
      @apply w-20 h-32 -mr-12 ml-0 p-0;
      transition: margin-right 0.45s ease-in-out, transform 0.4s ease-in-out;
      transform: rotate(27deg);
      box-shadow: 0 0 10px rgba(61, 66, 79, .4);

      &:nth-child(2n) {
        transform: rotate(45deg);
      }
    }
  }

  .holder {
    @apply flex items-center justify-center flex-wrap w-full relative z-10 p-4 border-t-4 border-transparent;
    background: #0c0c0d;
  }

  .raise {
    @apply inline-block bg-transparent py-2 px-4 align-middle w-24 text-center mx-2;
  }

  .slider {
    @apply w-32 h-2 m-4;

    .rc-slider-handle {
      @apply border-r-2 border-gray-400;

      &:active {
        @apply shadow-none;
      }

      &:focus {
        box-shadow: 0 0 4px rgba(25, 31, 43, .5);
      }
    }

    .rc-slider-step {
      @apply border-gray-600;
    }

    .rc-slider-track {
      @apply bg-green-200;
    }
  }
}

.disabled {
  &,
  &:hover {
    @apply cursor-not-allowed bg-gray-500;
  }
}
