@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Montserrat:800&display=swap');

html {
  background-color: #81c7c0;
  background: linear-gradient(35deg, #5cdb94, #8de4af);
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

html, body, #root {
  min-height: 100%;
  min-width: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

